* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box; 
}
body {
  background: #fff;
}
.app{
  background: #0cdeed;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}
.app h1{
  font-size: 25px;
  color: #b8a18a;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}
.quiz{
  padding:20px 0;
}
.quiz h2{
  font-size: 18px;
  color: #b8a18a;
  font-weight: 600;
}
.btn{
  background: #00000;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}
.btn:hover{
  background: #00000;
  color: #fff;
}
  
  
  
  
    
nav ul {
    display: flex;
    list-style-type: none;
    background-color: black;   
    padding: 10px;
    margin: 0;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

/* Creating the nav menu hover effect */
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: dimgray;  
}

/* Class selector */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.grid-item {
    background-color: lightgray;    
    padding: 20px;
    border: 2px solid gray;         
    text-align: center;
    font-weight: bold;
}

  
