/* padding for header,nav menu, and section elements */
header, nav, section {
    padding: 20px;
}

 h1 {
     color: darkslateblue;
 }

/* Styles for the quiz app */
* {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  box-sizing: border-box; 
}
/* Sets the quiz page background to white */
body {
  background: #fff;
}
/* Styles the main surface for the quiz */
.app {
  background: darkslateblue;
  width: 90%;
  max-width: 600px;
  margin: 100px auto 0;
  border-radius: 10px;
  padding: 30px;
}
/* Style for the main heading inside the quiz */
.app h1 {
  font-size: 25px;
  color: #fff;
  font-weight: 600;
  border-bottom: 1px solid #333;
  padding-bottom: 30px;
}
/* Styling for the quiz section and question headings inside the quiz */
.quiz {
  padding: 20px 0;
}

.quiz h2 {
  font-size: 18px;
  color: #fff;
  font-weight: 600;
}
/* Complete styling of the buttons inside the quiz */
.btn {
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 100%;
  border: 1px solid #222;
  padding: 10px;
  margin: 10px 0;
  text-align: left;
  border-radius: 4px;
  cursor: pointer;
  transition: all 0.3s;
}

/* Hover effect for answer buttons, disables button after click */
.btn:hover:not([disabled]) {
  background: #222;
  color: #fff;
}

.btn:disabled { 
  cursor: no-drop;
}

/* Style for the Next button on quiz */
#next-btn { 
  background: #fff;
  color: #222;
  font-weight: 500;
  width: 150px;
  border: 0;
  padding: 10px;
  margin: 20px auto 0;
  border-radius: 4px;
  cursor: pointer;
  display: none;
}

/* Changes answer button color when clicked */
.correct {
  background: #8eedb7; 
}

.incorrect {
  background: #a65a5a; 
}

.checkbox-container input.correct {
  background-color: #8eedb7; 
}

.checkbox-container input.incorrect {
  background-color: #a65a5a; 
}

.checkbox-container {
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.checkbox-container input {
  margin-right: 10px;
}

/* Styling for nav menu on the quiz page */
nav ul {
    display: flex;
    list-style-type: none;
    background-color: black;   
    padding: 10px;
    margin: 0;
    justify-content: center;
    
}

nav ul li {
    margin: 0 15px;
}


nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    position: relative;
    transition: all 0.3s ease;
}
/* Updated nav menu with underline animation*/
nav ul li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #ffd700;
    transition: width 0.3s ease;
}

nav ul li a:hover::after {
    width: 100%;
}

/* Class selector */
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-top: 20px;
}

.grid-item {
  background-color: lightgray;    
  padding: 20px;
  border: 2px solid gray;         
  text-align: center;
  font-weight: bold;
}
