/* Selecting font and element */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray; 
    color: darkslategray;        
}

header, nav, section {
    padding: 20px;
}

.text-bubbles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.text-bubble {
    background-color:  #e0e0e0;
    border: 2px solid gray;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    text-align: center;
}

/* Creating the nav menu with flexbox */
nav ul {
    display: flex;
    list-style-type: none;
    background-color: black;   
    padding: 10px;
    margin: 0;
    justify-content: center;
    
}

nav ul li {
    margin: 0 15px;
}

/* Creating the nav menu hover effect */
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: dimgray;  
}

/* Class selector */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.grid-item {
    background-color: lightgray;    
    padding: 20px;
    border: 2px solid gray;         
    text-align: center;
    font-weight: bold;
}

/* Creating table style, borders, padding */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid dimgray;   
    padding: 10px;
    text-align: left;
}

/* Heading color */
h1, h2, h3 {
    color: darkslateblue;       
}

b {
    color: #818ec9;
}

p {
    color: #818ec9;
}

/* Creating space for images on the right side of the home page */
.wb-images {
    float: right;
    margin-left: 20px;
    margin-top: 10px;
}
/* Creates border color, padding, and space for images on the home page */
.wb-images img {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: white;
    border-radius: 8px;
}
footer {
    text-align: center;
    background-color: darkslateblue;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

