/* Selecting font and element */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray; 
    color: darkslategray;        
}

header, nav, section {
    padding: 20px;
}

/* Creating the nav menu with flexbox */
nav ul {
    display: flex;
    list-style-type: none;
    background-color: black;   
    padding: 10px;
    margin: 0;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

/* Creating the nav menu hover effect */
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: dimgray;  
}

/* Class selector */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.grid-item {
    background-color: lightgray;    
    padding: 20px;
    border: 2px solid gray;         
    text-align: center;
    font-weight: bold;
}

/* Choosing hightlighter color */
.highlight {
    background-color: yellow;
    padding: 5px;
    border: 1px solid orange;
}

/* Creating table style, borders, padding */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid dimgray;   
    padding: 10px;
    text-align: left;
}

/* Heading color */
h1, h2, h3 {
    color: darkslateblue;       
}

