/* Selecting font and element */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray; 
    color: darkslategray;        
}

header, nav, section {
    padding: 20px;
}

/* Creating the nav menu with flexbox */
nav ul {
    display: flex;
    list-style-type: none;
    background-color: black;   
    padding: 10px;
    margin: 0;
    justify-content: center;
    width: 100%;
    
}

nav ul li {
    margin: 0 15px;
}

/* Creating the nav menu hover effect */
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: dimgray;  
}

/* Class selector */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.grid-item {
    background-color: lightgray;    
    padding: 20px;
    border: 2px solid gray;         
    text-align: center;
    font-weight: bold;
}

/* Creating table style, borders, padding */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid dimgray;   
    padding: 10px;
    text-align: left;
}

/* Heading color */
h1, h2, h3 {
    color: darkslateblue;       
}

/* Creating space for images on the right side of the home page */
.wb-images {
    float: right;
    margin-left: 20px;
    margin-top: 10px;
}
/* Creates border color, padding, and space for images on the home page */
.wb-images img {
    display: block;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: white;
    border-radius: 8px;
}
