/* Selecting font and element */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: lightgray; 
    color: darkslategray;        
}

header, nav, section {
    padding: 20px;
}
/* Text bubbles to make each page less bare */
.text-bubbles {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    text-align: center;
    
}

.text-bubble {
    background-color: darkgray ;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    display: inline-block;
}
/* Deletes bullet-points in ul and centers the list */
.text-bubble ul {
    list-style: none;   
    padding-left: 0;       
    display: inline-block; 
    text-align: center;       
    margin: 0 auto;         
}

/* Text bubble specific to the format of the web browser competition page */
.text-bubbles.competition-page {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

.text-bubbles.competition-page .text-bubble {
    background-color: darkgray;
    border: 2px solid black;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    text-align: center;
}
/* Aligns the first header above the middle headers and the last header below the middle headers */
.text-bubbles.competition-page .text-bubble:first-child,
.text-bubbles.competition-page .text-bubble:last-child {
    grid-column: 1 / -1;
}
    


/* Creating the nav menu with flexbox */
nav ul {
    display: flex;
    list-style-type: none;
    background-color: black;   
    padding: 10px;
    margin: 0;
    justify-content: center;
    
}

nav ul li {
    margin: 0 15px;
}

/* Creating the nav menu hover effect */
nav ul li a {
    color: white;
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s ease;
}

nav ul li a:hover {
    background-color: dimgray;  
    transform: scalee(1.1);
}

/* Class selector */
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.grid-item {
    background-color: lightgray;    
    padding: 20px;
    border: 2px solid gray;         
    text-align: center;
    font-weight: bold;
}

/* Creating table style, borders, padding */
table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid dimgray;   
    padding: 10px;
    text-align: left;
}

/* Heading color */
h1, h2, h3 {
    color: darkslateblue;       
}

b {
    color: #818ec9;
}

p {
    color: #818ec9;
}

/* Centering the images to  fit the index page*/
.wb-images {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}
/* Creates border color, padding, and space for images on the home page */
.wb-images img {
    display: block;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 5px;
    background-color: white;
    border-radius: 8px;
    max-width: 200px;
}
/* style class website link */
footer {
    text-align: center;
    background-color: darkslateblue;
    padding: 15px 0;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}

